$color-primary: #000045;
$color-primary-dark: #01012F;
$color-secondary: #FBFE7A;
$color-tertiary: #9DE6FF;
$color-quaternary: #FF6DF0;

$color-dark: #271A0F;
$color-light: #FFFFFF;

$background: $color-primary;

$progress-height: .5rem;


$font-title: 'Poppins', sans-serif;
$font-text: 'Poppins', sans-serif;

$framework-size: 1rem;
